/* *** CSS Reset Start *** */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* *** CSS Reset End *** */


/* *** Fonts Start *** */

@font-face {
    font-family: "Libertinus Sans";
    src: url('fonts/LibertinusSans-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Libertinus Sans";
    src: url('fonts/LibertinusSans-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Libertinus Sans";
    src: url('fonts/LibertinusSans-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Libertinus Mono";
    src: url('fonts/LibertinusMono-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* *** Fonts End *** */


/* *** Styles Start *** */

h1 {
    font-size: 24pt;
    font-weight: bold;
}

h2 {
    font-feature-settings: "smcp", "c2sc", "onum";
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

a {
    color: inherit;
    text-decoration: underline;
    text-decoration-style: dotted;
}

code {
    font-family: "Libertinus Mono";
    font-size: 16pt;
}

body {
    font-family: "Libertinus Sans";
    max-width: 7in;
    margin: auto;
    padding: 16pt;
    font-size: 18pt;
    line-height: 1.4;
    word-wrap: break-word;
    hyphens: auto;
}

details > summary {
    padding: 12pt 16pt;
    font-weight: bold;
    cursor: pointer;
}

details > * {
    background-color: gainsboro;
    padding: 0pt 16pt;
}

img {
    width: 100%;
    height: 100%;
}

div {
    padding-bottom: 10pt;
}

figcaption {
    font-size: 16pt;
    font-style: italic;
}

.info {
    padding: 6pt 8pt;
    background-color: darkgray;
}

.footer {
    text-align: center;
}

/* *** Styles End *** */